include ../square/square
include ../../_modules/tabs/tabs
include ../../_modules/diamond-list/diamond-list

mixin featured-charts(baseUrl, styleModifers, smaller)
  - var modifers = ''
  if styleModifers
    each modifier in styleModifers
      - modifers = modifers + (' featured-charts--' + modifier) 
  .featured-charts
    +tabs([{title: 'Forex', active: true, tablink: 'forex'}, {title: 'CFDs', tablink: 'cfds'}, {title: 'Commodities', tablink: 'commodities'}])
      section(data-tab-link='forex' class='tabs__content tabs__content--active ' + modifers)
        table.product-detail__table
            tr
              th.column Currency
              th.detail-column Value
              th Change
              th.detail-column Time (GMT)
              th 2 Day
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
      section(data-tab-link='cfds' class='tabs__content tabs__content--active ' + modifers)
        table.product-detail__table
            tr
              th.column Currency
              th.detail-column Value
              th Change
              th.detail-column Time (GMT)
              th 2 Day
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
      section(data-tab-link='commodities' class='tabs__content tabs__content--active ' + modifers)
        table.product-detail__table
            tr
              th.column Currency
              th.detail-column Value
              th Change
              th.detail-column Time (GMT)
              th 2 Day
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
            tr
              td.column EUR-USD
              td.detail-column 1.1765
              td.positive-text 0.0006
              td.detail-column 5.56 AM
              td.product-detail__graph-example
                img(src=baseUrl + 'images/small-graph-example.png')
    if smaller
    else
      a.featured-charts__bottom-link(href='') View All Charts
